<head>
    <style>
            .text-center{
                text-align : center
            }
            .text-large{
                font-size : 200% 
            }
            .text-red{
                color:red
            }
            .text-blue{
                color:blue
            }
        </style>
    </head>
    <body>
        <p>text1</p>
        <p class = "text-center">text2</p>
        <p class = "text-center text-large">text3</p>
        <p class = "text-large text-red">text4</p>
        <p class = "text-center text-large text-red text-blue">text5</p>